@import "styles/_mixins.scss";

.button {
  width: 120px;
  height: 40px;
  border: 1px solid $color-dark6;
  color: $color-white;
  background-color: $color-dark0;
  cursor: pointer;
  z-index: 0;
  border-radius: 40px;
  font-size: 16px;
  font-weight: 600;

  &:hover {
    background-color: $color-dark6;
    color: $color-dark;
  }
}

.buttonLight {
  border: 1px solid $color-orange-light3;
  background-color: transparent;
  color: $color-black;
  &:hover {
    background-color: $color-orange-light3;
    color: $color-white;
  }
}
