@import "styles/_mixins.scss";

.section {
  background-color: $color-dark;
  max-width: 1280px;

  @include desktop {
    margin: 0 auto;
  }
}

.sectionLight {
  background-color: $color-yellow-light;
}

.projectSection {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @include desktop {
    gap: 0;
  }
}
