@import "styles/_mixins.scss";

.card {
  margin: 0;
  display: flex;
  flex-direction: column;

  @include desktop {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.imageContainer {
  display: flex;
}

.image {
  width: 100%;
  height: 320px;
  border-radius: 8px;

  @include desktop {
    width: 550px;
    height: 350px;
  }
}

.imageContainerRight {
  display: none;

  @include desktop {
    display: block;
  }
}

.content {
  width: 100%;
  background: rgba(107, 107, 107, 0.2);
  padding: 0 40px;
  border-radius: 0.5rem;
  color: $color-white;
  z-index: 2;
  margin-top: -30px;

  @include tablet {
    margin-top: -80px;
  }

  @include desktop {
    margin-top: 0;
    width: 760px;
    height: 280px;
    transform: translate(10%);
  }
}

.contentLight {
  color: $color-black;
  background: transparent;
  box-shadow: 0 4px 12px rgba(29, 27, 1, 0.3);
}

.left {
  @include desktop {
    transform: translate(-10%);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: flex-end;
  }
}

.title {
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
  color: $color-white;
}

.titleLight {
  color: $color-black;
}

.description {
  font-size: 1rem;
  line-height: 1.5;
  color: $color-white;
  width: 100%;

  @include desktop {
    width: 550px;
  }
}

.descriptionLight {
  color: $color-black;
}

.tags {
  margin-top: 10px;
  font-size: 14px;
  color: $color-dark6;
  display: flex;
}

.tag {
  margin: 0 4px;
}

.lightTags {
  color: $color-orange-light3;
}
