@import "styles/_mixins.scss";

.card {
  margin: 0;
  display: flex;
  flex-direction: column;

  @include desktop {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.imageContainer {
  display: flex;
}

.image {
  width: 100%;
  height: 320px;
  border-radius: 8px;

  @include desktop {
    width: 550px;
    height: 350px;
  }
}

.imageContainerRight {
  display: none;

  @include desktop {
    display: block;
  }
}

.content {
  width: 100%;
  background: rgba(107, 107, 107, 0.2);
  padding: 1rem;
  border-radius: 0.5rem;
  color: #fff;
  z-index: 2;
  margin-top: -30px;

  @include tablet {
    margin-top: -80px;
  }

  @include desktop {
    margin-top: 0;
    width: 760px;
    height: 250px;
    transform: translate(10%);
  }
}

.left {
  @include desktop {
    transform: translate(-10%);
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: end;
  }
}

.title {
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
  color: #ffffff;
}

.description {
  font-size: 1rem;
  line-height: 1.5;
  color: #e0e0e0;
  width: 100%;

  @include desktop {
    width: 600px;
  }
}
