@import "styles/_mixins.scss";

.svg {
  path {
    fill: $color-white;
    fill-opacity: 0.45098;

    &:hover {
      fill: $color-dark6;
    }
  }
}

.svgLight {
  path {
    fill: $color-black;
    fill-opacity: 0.95806;

    &:hover {
      fill: $color-grey;
    }
  }
}
