@import "styles/_mixins.scss";

.sectionTitle {
  color: $color-dark-with-opacity;
  max-width: 1280px;
  margin: auto;
  padding-bottom: 10px;
  font-size: 30px;

  @include tablet {
    font-size: 40px;
    padding: 10px 0;
  }

  @include desktop {
    font-size: 50px;
  }
}

.sectionTitleLight {
  color: $color-orange-with-opacity;
}
