@import "styles/_mixins.scss";

.container {
  background-color: $color-dark;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 700px;
  display: flex;
  flex-direction: column;

  @include tablet {
    height: 600px;
  }

  @include desktop {
    height: 700px;
  }
}

.containerLight {
  background-color: $color-yellow-light;
}

.title {
  color: $color-dark-with-opacity;
  font-size: 55px;
  font-weight: $fontWeights-bold;
  position: absolute;
  z-index: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top: 110px;

  @include tablet {
    font-size: 120px;
    margin-top: 250px;
  }

  @include desktop {
    font-size: 230px;
    line-height: 230px;
    margin-top: 350px;
  }
}

.titleLight {
  color: $color-orange-with-opacity;
}

.espanishTitle {
  font-size: 40px;

  @include tablet {
    font-size: 80px;
    margin-top: 200px;
  }

  @include desktop {
    font-size: 150px;
    line-height: 150px;
    margin-top: 350px;
  }
}

.personalInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  top: 50%;
  top: 50%;
  left: 50%;
  gap: 8px;

  @include desktop {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
}

.image {
  position: relative;
  z-index: 3;
  width: 200px;
  height: 210px;
}

.contactButton {
  display: flex;
  justify-content: center;
}
