// Dark mode
$color-dark: #10002b;
$color-dark0: #240046;
$color-dark1: #3c096c;
$color-dark2: #5a189a;
$color-dark3: #7b2cbf;
$color-dark4: #9d4edd;
$color-dark5: #c77dff;
$color-dark6: #e0aaff;
$color-dark-with-opacity: rgba(255, 255, 255, 0.1);

// Dracula theme colors
$dracula-bg: #282a36;
$dracula-current: #44475a;
$dracula-fg: #f8f8f2;
$dracula-comment: #6272a4;
$dracula-cyan: #8be9fd;
$dracula-green: #50fa7b;
$dracula-orange: #ffb86c;
$dracula-pink: #ff79c6;
$dracula-purple: #bd93f9;
$dracula-red: #ff5555;
$dracula-yellow: #f1fa8c;

// Nord theme colors
$nord-bg: #2e3440;
$nord-current: #3b4252;
$nord-fg: #eceff4;
$nord-comment: #616e88;
$nord-cyan: #88c0d0;
$nord-green: #a3be8c;
$nord-orange: #d08770;
$nord-blue: #81a1c1;
$nord-purple: #b48ead;
$nord-red: #bf616a;
$nord-yellow: #ebcb8b;

// One Dark theme colors
$oneDark-bg: #282c34;
$oneDark-current: #3e4451;
$oneDark-fg: #abb2bf;
$oneDark-comment: #5c6370;
$oneDark-cyan: #56b6c2;
$oneDark-green: #98c379;
$oneDark-orange: #d19a66;
$oneDark-blue: #61afef;
$oneDark-purple: #c678dd;
$oneDark-red: #e06c75;
$oneDark-yellow: #e5c07b;

// Light mode
$color-yellow-light: #fffae5;
$color-yellow-light0: #ffe97f;
$color-yellow-light1: #ffe566;
$color-yellow-light2: #ffe14c;
$color-yellow-light3: #ffdd32;
$color-yellow-light4: #ffd819;
$color-yellow-light5: #ffd400;
$color-yellow-with-opacity: rgba(255, 213, 0, 0.641);
$color-orange-light: #ffaa00;
$color-orange-light0: #ffa200;
$color-orange-light1: #ff9500;
$color-orange-light2: #ff8800;
$color-orange-light3: #f77b07;
$color-orange-with-opacity: rgba(255, 123, 0, 0.536);

// General colors
$color-white: #ffff;
$color-white2: #ccc;
$color-black: #1d2129;
$color-grey: #777b81;
$color-red: #ff483f;
$color-yellow: #ecbb38;
$color-green: #36d3a8;

// Font Weights
$fontWeights-light: 300;
$fontWeights-regular: 400;
$fontWeights-medium: 500;
$fontWeights-semiBold: 600;
$fontWeights-bold: 700;
$fontWeights-extraBold: 800;

//Breakpoint
$breakpoint-desktop: 1280px;
$breakpoint-mobile: 700px;

@mixin tablet {
  @media screen and (min-width: #{$breakpoint-mobile}) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}
