@import "styles/_mixins.scss";

.container {
  background-color: #10002b;
  padding: 20px;

  @include tablet {
    padding: 20px 50px;
  }
}

.sectionTitle {
  color: rgba(255, 255, 255, 0.1);
  max-width: 1280px;
  margin: auto;
  padding-bottom: 10px;
  font-size: 30px;

  @include tablet {
    font-size: 40px;
    padding: 10px 0;
  }

  @include desktop {
    font-size: 50px;
  }
}
