@import "styles/_mixins.scss";

.container {
  background-color: $color-dark;
  padding: 20px;

  @include tablet {
    padding: 20px 50px;
  }
}

.containerLight {
  background-color: $color-yellow-light;
}
