@import "styles/_mixins.scss";

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 40px;

  @include tablet {
    margin-bottom: 60px;
  }
}

.section {
  background-color: $color-dark0;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(229, 189, 242, 0.3);
  color: $color-white;
  width: 100%;
  padding: 10px;

  @include desktop {
    max-width: 1280px;
    padding: 30px 35px;
    margin: 0 auto;
  }
}

.sectionLight {
  background-color: transparent;
  box-shadow: 0 4px 12px rgba(60, 53, 6, 0.3);

  color: $color-black;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;

  @include desktop {
    flex-direction: row;
  }
}

.companyTitle {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.company {
  font-size: 22px;
  font-weight: bold;
  margin: 0;

  @include desktop {
    font-size: 32px;
  }
}

.title {
  font-size: 1.5rem;
  margin-left: 0.5rem;
  color: $color-white2;
}

.titleLight {
  color: $color-grey;
}

.durationLocation {
  font-size: 14px;

  @include desktop {
    text-align: right;
    font-size: 16px;
  }
}

.description {
  margin-top: 1.5rem;
  line-height: 1.6;
}

.technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 2rem;
}
